<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
    <div class="row">
      <div class="col-8 col-lg-8 col-sm-12">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2" for="storageSelect">
            <span class="required">Seleção do Armazem</span>
          </label>
          <!--end::Label-->
          <select class="form-select form-select-sm selector" id="storageSelect" data-allow-clear="true"
            data-placeholder="Selecciona o produto">
            <option></option>
            <option [value]="storage|json" *ngFor="let storage of listStorage|async">
              {{ storage.name }}
            </option>
          </select>

        </div>
      </div>
      <div class="col-4 col-lg-4 col-sm-12">
        <canvas id="ean" width="280" height="120" style="float: right">
        </canvas>
      </div>
      <div class="separator separator-dashed my-4"></div>
    </div>
    <div class="row">


      <div class="col-sm-3">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">Armário</span>
          </label>
          <!--end::Label-->
          <input type="text" class="form-control form-control-sm " placeholder="Introduza o armario" name="target_title"
            [(ngModel)]="serviceArmario.IObjectClass.name">
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">Prateleiras</span>
          </label>
          <!--end::Label-->
          <input type="text" class="form-control form-control-sm " placeholder="Introduza as prateleiras"
            id="prateleirasItens">

          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>

    </div>
    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-primary mr-2 btn-sm" (click)="save()">
          Guardar a informação
        </button>
      </div>
    </div>
  </form>

  <app-tabela-armario></app-tabela-armario>
</div>
