<div
  id="new_fornecedorProd_basic"
  class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true"
  data-kt-drawer-toggle="#new_fornecedorProd_basic_button"
  data-kt-drawer-close="#new_fornecedorProd_basic_close" data-kt-drawer-width="1000px">

  <div class="p-5 w-100">
    <div class="text-right mb-4">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder mt-5 text-uppercase">Novo Fornecedor</h1>
      <!--end::Title-->
      <!--begin::Subtitle-->
      <div class="text-gray-500 fw-semibold fs-6">Crie, actualize ou apage as informações dos fornecedores</div>
      <!--end::Subtitle=-->
    </div>
    <div class="separator my-4 text-center mb-2">
    </div>

    <div class="card-body pb-0">
      <!--begin::Navs-->
      <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_122o">Gerir Armazéns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_222o">Gerir Prateleiras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_322o">Todos Registros</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="kt_tab_pane_122o" role="tabpanel">
          <app-forms-geral-fornecedores></app-forms-geral-fornecedores>
        </div>

        <div class="tab-pane fade" id="kt_tab_pane_222o" role="tabpanel">
          <app-fornecedor-nif-enderecos></app-fornecedor-nif-enderecos>
        </div>

        <div class="tab-pane fade" id="kt_tab_pane_322o" role="tabpanel">
          <app-datatable-fornecedores></app-datatable-fornecedores>
        </div>


      </div>
    </div>


  </div>

</div>

