<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="row">
      <div class="row">
        <div class="col-sm-4">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Designação</span>
            </label>
            <!--end::Label-->
            <select class="form-select form-select-sm" id="clientsSelects" data-control="select2"
              data-allow-clear="true" data-clear="true"  data-placeholder="Selecciona um opção">
              <option></option>
              <option [value]="cl|json" *ngFor="let cl of listFornecedor|async">
                {{ cl.name }}
              </option>
            </select>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Nif</span>
            </label>
            <!--end::Label-->
            <input class="form-control form-control-sm" style="letter-spacing: 8px"
              placeholder="introduza aqui o nif do cliente" [(ngModel)]="serviceNifClient.IObjectClass.nif"
              name="nif" />
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Região / País</span>
            </label>
            <!--end::Label-->
            <select class="form-select form-select-sm" id="paisesClients" data-control="select2" data-allow-clear="true"
              data-placeholder="Select an option">
              <option></option>
              <option [value]="country|json" *ngFor="let country of listCountry">
                {{ '(' + country.iso + ')' + ' - ' + country.name }}
              </option>
            </select>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
        <div class="col-12 col-sm-8">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Endereço</span>
            </label>
            <!--end::Label-->
            <input class="form-control form-control-sm" placeholder="introduza as informações principais do endereço"
              value="" id="addressPuts" />
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="save()">
          Guardar a informação
        </button>
      </div>
    </div>
  </form>

  <app-tabelas-nif-address></app-tabelas-nif-address>

</div>
