<div class="row overflow-hidden">
  <div class="row p-0">
    <div class="col-auto">
      <label class="fs-8">Selecione JSON:</label>
      <input type="file" class="form-control form-control-sm" placeholder="Insere ficheiro json"
             (change)="onFileSelected($event)">
    </div>
    <div class="col-auto">
      <label class="fs-8">Selecione XLSX:</label>
      <input type="file" class="form-control form-control-sm" aria-labelledby="file-label"
             (change)="onFileChange($event)">
    </div>
    <div class="col-auto">
      <label class="fs-8">&nbsp;</label>
      <button type="button" class="btn btn-sm btn-light-primary w-100" (click)="downloadXLSX()">Exportar XLS</button>
    </div>
    <div class="col-auto">
      <label class="fs-8">&nbsp;</label>
      <button type="button" class="btn btn-sm btn-success w-100" (click)="saveall();">Envia E. Dados</button>
    </div>
    <div class="col-auto">
      <label class="fs-8">&nbsp;</label>
      <button type="button" class="btn btn-sm btn-light-primary w-100" (click)="addRow();">Nova Linha</button>
    </div>
  </div>
  <div style="max-height:550px!important; overflow-y:scroll; height:550px!important;" class="p-0 m-0 my-5 ">
    <table id="kt_datatable_both_scrolls" class="table table-striped table-row-bordered gy-2 gs-7 ">
      <thead class="text-uppercase fw-bold bg-light-primary" style="position:sticky; top:0; z-index: 999">
      <tr class="fs-6 text-gray-800 bg-light-primary">
        <th class="bg-light-primary">#</th>
        <th class="min-w-200px bg-light-primary">Categoria</th>
        <th class="min-w-200px bg-light-primary">Nome</th>
        <th class="min-w-200px bg-light-primary">Modelo</th>
        <th class="min-w-auto bg-light-primary">Quantidade</th>
        <th class="min-w-200px bg-light-primary">Armazem</th>
        <th class="min-w-200px bg-light-primary">Armario</th>
        <th class="min-w-200px bg-light-primary">Prateleira</th>
        <th class="min-w-100px bg-light-primary"></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let mov of this.arrayData; let index = index" >
        <td style="max-width:80px!important;  vertical-align: middle;">{{ index + 1 }}</td>
        <td contenteditable="true">
          <input type="text" class="form-control form-control-sm "
                 [(ngModel)]="mov.category" placeholder="Categoria do produto" [value]="mov.category" name="category">
        </td>
        <td contenteditable="true">
          <input type="text" class="form-control form-control-sm "
                 [(ngModel)]="mov.name" [value]="mov.name" name="name" placeholder="Nome do artigo">
        </td>
        <td contenteditable="true">
          <input type="text" class="form-control form-control-sm "
                 [(ngModel)]="mov.model" [value]="mov.model" name="model" placeholder="Modelo do Artigo">
        </td>
        <td contenteditable="true">
          <input type="text" class="form-control form-control-sm "
                 [(ngModel)]="mov.qt" [value]="mov.qt" name="qt" placeholder="Quantidade">
        </td>
        <td>
          <select class="form-select form-select-sm selector " [value]="mov.localStorage"
                  [id]="'select'+ index" data-control="select2" name="armazem"
                  data-hide-search="true" data-allow-clear="true" [attr.data-attribute]="mov.armazem"
                  data-placeholder="Selecciona o armazém">
            <option></option>
            <option [value]="i|json" *ngFor="let i of this.listStorage|async">{{ i.name }}</option>
          </select>
        </td>
        <td>
          <select class="form-select form-select-sm selector " [id]="'armario'+ index"
                  data-control="select2" data-hide-search="true"
                  data-allow-clear="true" data-placeholder="Selecciona o Armário">
            <option value=""></option>
            <option [value]="i|json" *ngFor="let i of this.listArmarios[index]">{{ i.ambry.name }}</option>
          </select>
        </td>
        <td>

          <select class="form-select form-select-sm selector " [id]="'prate'+ index"
                  data-control="select2" data-hide-search="true"
                  data-allow-clear="true" data-placeholder="Selecciona o Prateleira">
            <option value=""></option>
            <option [value]="i|json" *ngFor="let i of this.listShelf[index]">{{ i.name }}</option>
          </select>

        </td>
        <td class="text-end min-w-125px" style="vertical-align: middle;">
          <button type="button" (click)="dataRow(mov, index)"
                  class="btn btn-icon cursor-pointer btn-sm btn-light-success btn-active-success w-25px h-25px">
            <span class="svg-icon"> <i class="fa fa-check"></i> </span>
          </button>
          &nbsp;
          <button type="button" (click)="removRow(index)"
                  class="btn btn-icon cursor-pointer btn-sm btn-light-danger btn-active-danger w-25px h-25px">
            <span class="svg-icon"> <i class="fa fa-trash"></i> </span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
