<div class="card-title d-flex flex-end justify-content-end">
  <!--begin::Search-->
  <div class="d-flex align-items-center position-relative my-1">
    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
    <span class="svg-icon svg-icon-1 position-absolute ms-6">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
              transform="rotate(45 17.0365 15.1223)" fill="currentColor"/>
        <path
          d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
          fill="currentColor"/>
      </svg>
    </span>
    <!--end::Svg Icon-->
    <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-350px ps-15"
           placeholder="Pesquisar pelo titulo"/>
  </div>
  <!--end::Search-->
</div>

<div class="table-responsive overflow-auto">
  <table class="table align-middle table-row-dashed fs-6 gy-2 gs-7">
    <thead class="bg-light-primary">
    <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200 text-uppercase">
      <th>Data</th>
      <th style="max-width:220px!important; width: 220px">Referência</th>
      <th class="min-w-225px">Obs</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="fw-light text-gray-600">
    <tr class="border-bottom  border-gray-150 fs-5" *ngFor="let mov of listMove">
      <td>{{ (mov.dateOfMove ? mov.dateOfMove : mov.created_at)}}</td>
      <td>{{ mov.docRef.toUpperCase()}}</td>
      <td>
        <div
          style=" width: 90%; display: inline-block; white-space: nowrap; overflow: hidden;
           text-overflow: ellipsis; direction: ltr; max-width:1010px!important;">
          {{ mov.details}}
        </div>
      </td>
      <td style="max-width: 100px!important; width: 100px!important;">
        <button type="button" (click)="printMov(mov)" id="editable"
                class="btn btn-icon btn-sm btn-light-primary btn-active-primary w-25px h-25px mx-1 float-end">
          <span class="svg-icon"> <i class="fa fa-print"></i></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


