<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
    <div class="row">
      <div class="col-8 col-lg-8 col-sm-12">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">Seleção do Serviços</span>
          </label>
          <!--end::Label-->
          <select class="form-select form-select-sm selector" data-control="select2" id="selectProdutos"
            data-allow-clear="true" data-placeholder="Selecciona o serviço">
            <option></option>
            <option [value]="s|json" *ngFor="let s of listServices|async">
              {{ s.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-4 col-lg-4 col-sm-12">
        <canvas id="ean" width="280" height="120" style="float: right">
        </canvas>
      </div>
      <div class="separator separator-dashed my-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">Referência / Ean</span>
          </label>
          <!--end::Label-->
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" style="letter-spacing: 8px" maxlength="13"
              placeholder="Enter Target Title" [(ngModel)]="ean.IObjectClass.ean" name="ean">
            <span class="input-group-text cursor-pointer" id="generate_key">
              <i class="fa fa-sync-alt"></i>
            </span>
          </div>
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-primary mr-2 btn-sm" (click)="save()">
          Guardar a informação
        </button>
      </div>
    </div>
  </form>

  <app-referencias-servicos></app-referencias-servicos>
</div>
