<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">

    <div class="row">
      <div class="col-12 col-lg-12 col-sm-12 mb-4 justify-content-end ">
        <div class="d-flex flex-column fv-row fv-plugins-icon-container flex-end">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6  mb-2">
            <span class="">Ref : </span> <span class="fw-bold"> 234234DDSS234</span>
          </label>
        </div>
      </div>

      <div class="col-12 col-lg-8 col-sm-8 mb-4">
        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2" for="selectTypeRequisition">
            <span class="required">De uma</span>
          </label>
          <input type="text" class="form-control form-control-sm" placeholder="Informação da requisição">

          <div class="fv-plugins-message-container invalid-feedback"></div>

        </div>
      </div>



      <div class="accordion accordion-icon-toggle" id="kt_accordion_2">
        <!--begin::Item-->
        <div class="mb-10">
          <!--begin::Header-->
          <div class="separator separator-dashed my-4"></div>

          <div class="accordion-header d-flex" data-bs-toggle="collapse" data-bs-target="#kt_accordion_2_item_1">
            <div class="fv-plugins-message-container text-primary text-right mb-4"><i class="bi bi-bookmarks-fill"></i>
              Outras informações do documento
            </div>
          </div>

          <div id="kt_accordion_2_item_1" class="fs-6 collapse p-3" data-bs-parent="#kt_accordion_2">

            <div class="row">
              <div class="col-12 mb-2 row">
                <div class="col-sm-6">
                  <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                    <!--begin::Label-->
                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                      <span class="required">Nif</span>
                    </label>
                    <!--end::Label-->
                    <input type="text" name="nifCliente" (input)="seachingClient()" [(ngModel)]="move.oItem.client_nif"
                      class="form-control form-control-sm" placeholder="insira a descrição longa">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                    <!--begin::Label-->
                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                      <span class="required">Nome do Cliente</span>
                    </label>
                    <!--end::Label-->
                    <input type="text" name="nameClient" [(ngModel)]="move.oItem.client"
                      class="form-control form-control-sm" placeholder="insira a descrição longa">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                </div>

              </div>

              <div class="col-12 col-lg-10 col-sm-8 ">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-6  mb-2">
                    <span class="">Obs</span>
                  </label>
                  <!--end::Label-->
                  <textarea type="text" class="form-control form-control-sm" rows="5" [(ngModel)]="move.oItem.details"
                    placeholder="de uma descrição de relatorio do movimento de entrada" name="datasheet"></textarea>
                  <div class="fv-plugins-message-container invalid-feedback"></div>
                  <!--  <span class="mt-3 text-muted font-italic ml-5">Selecciona o produto para configurar o codigo de barra</span> -->
                </div>
              </div>

              <div class="col-12 col-lg-2 col-sm-4 justify-content-center text-center">
                <qrcode [qrdata]="idMovement" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
              </div>
            </div>

          </div>
          <div class="separator separator-dashed my-1"></div>
        </div>


        <div class="row">
          <div class="col-12 col-lg-3 col-sm-8 mb-4">
            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 fw-bold mb-2" for="selectedArmazem">
                <span class="required">Armazem</span>
              </label>
              <!--end::Label-->
              <select class="form-select form-select-sm selector" data-control="select2" data-allow-clear="true"
                data-placeholder="Selecciona o modelo" id="selectedArmazem">
                <option></option>
                <option value="pro|json">
                  {{ 'pro.name'}}
                </option>

              </select>

              <div class="fv-plugins-message-container invalid-feedback"></div>

            </div>
          </div>


          <div class="col-sm-3">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 mb-2" for="selectedArmario">
                <span class="">Armário</span>
              </label>
              <!--end::Label-->
              <select class="form-select form-select-sm selector" data-control="select2" data-allow-clear="true"
                data-placeholder="Selecciona o modelo" id="selectedArmario">
                <option></option>
                <option value="">
                  {{ 'armario.name' }}
                </option>
              </select>

              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6  mb-2" for="selectedPrateleira">
                <span class="">Prateleira</span>
              </label>
              <!--end::Label-->
              <select class="form-select form-select-sm selector" data-control="select2" data-allow-clear="true"
                data-placeholder="Selecciona o modelo" id="selectedPrateleira">
                <option></option>
                <option value="">
                  {{ 'pro.name' }}
                </option>
              </select>

              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>
        </div>
        <div class="row w-100 mt-4">

          <div class=" col-12 col-sm-8 col-md-8 col-lg-7 col-xxl-5 ">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                <span class="required">Artigo</span>
              </label>
              <!--end::Label-->
              <div class="input-group input-group-sm input-group-solid flex-nowrap">
                <!--end::Label-->
                <div class="overflow-hidden flex-grow-1">
                  <select class="form-select form-select-sm selector rounded-end-0" data-control="select2"
                    data-allow-clear="true" data-placeholder="Selecciona o modelo" id="selectedProduct"
                    #selectedProduct>
                    <option></option>
                    <option [value]="article|json" *ngFor="let article of listArticles ">
                      {{
                      article.ean + ' - ' + (article.type_id ? article.type_id.name : 'ñ definido') + ' - ' +
                      (article.article_id ? article.article_id.name : 'ñ definido')
                      }}
                    </option>
                  </select>
                </div>

                <span class="input-group-text"> <i class="fa fa-search"></i></span>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>

            </div>
          </div>

          <div class="col-12 col-lg-5 col-xxl-2">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 mb-2">
                <span class="">S/N</span>
              </label>
              <!--end::Label-->

              <input type="text" class="form-control form-control-sm " id="quantidadeItem" placeholder="Númerio Serial "
                (keyup.enter)="enteredNewItem()" name="qt_item" [(ngModel)]="item.oItem.SN">

              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="col-12 col-lg-6 col-xxl-2">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6  mb-2">
                <span class="">P/N</span>
              </label>
              <!--end::Label-->

              <input type="text" class="form-control form-control-sm " id="quantidadeItem" placeholder="Número P"
                (keyup.enter)="enteredNewItem()" name="qt_item" [(ngModel)]="item.oItem.PN">

              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>


          <div class="col-12 col-lg-6 col-xxl-2">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                <span class="required">Qt itens</span>
              </label>
              <!--end::Label-->

              <input type="number" class="form-control form-control-sm " id="quantidadeItem"
                placeholder="Quantidade do item" (keyup.enter)="enteredNewItem()" name="qt_item"
                [(ngModel)]="item.oItem.quantity">

              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="col-12 col-lg-6 col-xxl-auto d-flex flex-right">
            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container pt-8">
              <button type="button" class="btn btn-sm btn-success mb-2 btn-sm" (click)="addListItems()">
                {{ util.SAVE_TEXT}}
              </button>

            </div>
          </div>


        </div>

      </div>




      <app-item-requisicao></app-item-requisicao>

    </div>



    <div class="col-12 mt-2 mb-4 position-fixed fixed-bottom " style="bottom: 5px; left: -35px; z-index: 110">
      <div class="input-group text-right justify-content-end">


        <button type="button" class="btn btn-sm btn-success mr-2 btn-sm btn" (click)="save()">
          Finalizar o Process
        </button>
        &nbsp;
        &nbsp;
        <button type="button" class="btn btn-sm btn-danger mr-2 btn-sm" (click)="cancelerMovement()">
          Cancelar o Processo
        </button>
      </div>
    </div>

  </form>

</div>

