<div class="d-flex flex-column flex-root  bg-secondary" id="kt_app_root">
  <!--begin::Page bg image-->

  <!--end::Page bg image-->
  <!--begin::Authentication - Sign-in -->
  <div class="d-flex flex-column flex-lg-row flex-column-fluid position-absolute h-100 w-100 justify-content-center flex-center">
    <!--begin::Aside-->

    <!--begin::Aside-->
    <!--begin::Body-->
    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-center p-12">
      <div class="bg-body d-flex flex-center rounded-4 w-md-600px p-10">
        <!--begin::Content-->
        <div class="w-md-400px">
          <ng-content></ng-content>
          <router-outlet main></router-outlet>
          <!--end::Form-->
        </div>
        <!--end::Content-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Authentication - Sign-in-->
</div>

