<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">


    <div class="row">

      <div class="row col-12">
        <div class="col-sm-6 col-12 ">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Referência / Ean</span>
            </label>
            <!--end::Label-->
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" style="letter-spacing: 8px" maxlength="13"
                placeholder="Enter Target Title" [(ngModel)]="eanMode.IObjectClass.ean" name="codeeans">
              <span class="input-group-text cursor-pointer" (click)="generateRef()" id="generate_key">
                <i class="fa fa-sync-alt"></i>
              </span>
            </div>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>


        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-auto min-w-350px">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Medida </span>
            </label>
            <div class="input-group input-group-sm input-group-solid flex-nowrap">
              <!--end::Label-->
              <div class="overflow-hidden flex-grow-1">
                <select class="form-select form-select-sm selector" data-control="select2" data-allow-clear="true"
                  data-placeholder="Selecciona o modelo" id="unidadeSelected">
                  <option></option>
                  <option [value]="unity|json" *ngFor="let unity of listUnity |async">
                    {{ unity.acronym + ' - ' + unity.name }}
                  </option>
                </select>
              </div>
              <button class="input-group-text" style="max-width: 80px; min-width: 80px" id="new_unicadade_basic_button">
                <i class="fa fa-plus"></i> &nbsp; Nova
              </button>
            </div>

          </div>
        </div>

      </div>

      <div class="col-12 col-sm-6 col-lg-2 mt-2 mb-4">
        <div class="input-group text-right justify-content-end">
          <button type="button" class="btn btn-sm btn-primary mr-2 btn-sm" (click)="save()">
            Adicionar
          </button>
        </div>
      </div>

    </div>

  </form>

  <app-tabela-ean></app-tabela-ean>

  <!-- <app-tipo-items></app-tipo-items> -->
  <app-unidade-medida></app-unidade-medida>

</div>
