<div class="overflow-auto w-100">
  <table id="kt_datatable_both_scrolls" class="table table-striped table-row-bordered gy-2 gs-7">
    <thead class="bg-light-primary">
    <tr class="fw-bold fs-6 text-gray-800 text-uppercase">
      <th class="min-w-100px">Data</th>
      <th class="min-w-100px">Artigo</th>
      <th class="min-w-100px">Entrada</th>
      <th class="min-w-200px">Saida</th>
      <th class="min-w-100px">QT Actual</th>
      <th class="">Acção</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
