<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework">

    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">Nome</span>
          </label>
          <!--end::Label-->
          <input type="text" name="description" id="nameValid" [(ngModel)]="this.client.IObjectClass.name"
                 class="form-control form-control-sm" placeholder="Nome do Cliente">
        </div>
      </div>
    </div>
    <div class="row">


      <div class="col-12 col-sm-3">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">Tipo</span>
          </label>
          <!--end::Label-->
          <select class="form-select form-select-sm" id="typeFornecedor23232"
                  data-placeholder="Select an option">
            <option></option>
            <option value="1">Individual</option>
            <option value="2">Colectivo</option>
          </select>
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold mb-2">
            <span class="required">NIF / BI</span>
          </label>
          <!--end::Label-->
          <input class="form-control form-control-sm" id="nifValid" [(ngModel)]="client.IObjectClass.identityClient"
                 placeholder="Nif | BI" name="Name" size="20" maxlength="20"
                 style="text-transform:uppercase"/>
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 mb-2" for="otherInfoMultipleItems">
            <span class="">Endereço </span>
          </label>
          <!--end::Label-->
          <input class="form-control form-control-sm" type="text"
                 placeholder="Endereço"
                 id="addressClient">

          <span class="small text-muted"><span class="text-danger">Ex:</span>( país, província, bairro, morada)
            ...</span>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 mb-2">
            <span class="">Telefone </span>
          </label>
          <!--end::Label-->
          <input class="form-control form-control-sm" placeholder="Telefone"
                 value="" id="phoneNumbers"/>
          <div class="fv-plugins-message-containe text-muted small"><span class="text-danger">EX:</span>+(244) XXX
            XXX XXX +(55) XXX XXXX...
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 mb-2">
            <span class="">Email</span>
          </label>
          <!--end::Label-->
          <input class="form-control form-control-sm" placeholder="Email"
                 value="" id="emails"/>
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 mb-2">
            <span class="">Obs</span>
          </label>
          <!--end::Label-->
          <textarea type="text" class="form-control form-control-sm h-100px" rows="10"
                    placeholder="Observação" name="details"
                    [(ngModel)]="this.client.IObjectClass.details"></textarea>
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>

      </div>
    </div>

    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="save()">
          {{ ServiceUtil.SAVE_TEXT }}
        </button>
      </div>
    </div>
  </form>


</div>
