<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="row">
      <div class="row">
        <div class="col-sm-9">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Entidade</span>
            </label>
            <!--end::Label-->
            <input type="text" name="description" [(ngModel)]="this.client.IObjectClass.name"
              class="form-control form-control-sm" placeholder="insira a descrição longa">
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12 col-sm-4">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">

            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Departamento</span>
            </label>

            <div class="input-group input-group-sm flex-nowrap">
              <select class="form-select form-select-sm rounded-end-0" id="departmentsSelect" data-control="select2"
                data-placeholder="Select an option">
                <option></option>
                <option [value]="department|json" *ngFor="let department of listDepartments | async  ">
                  {{ department.name }}
                </option>
              </select>
              <button class="input-group-text btn-primary" id="new_depatments_basic_button">
                <i class="bi bi-plus fs-4"></i> Nova
              </button>
            </div>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div> -->
        <div class="col-12 col-sm-12">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Outros Informações</span>
            </label>
            <!--end::Label-->
            <input class="form-control form-control-sm" placeholder="introduza as informações principais do endereço"
              value="" id="otherInfoMultipleItems" />
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>

      </div>
      <div class="row">


        <div class="col-sm-12">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Notas</span>
            </label>
            <!--end::Label-->
            <textarea type="text" class="form-control form-control-sm h-100px" rows="10"
              placeholder="Enter Target Title" name="details" [(ngModel)]="this.client.IObjectClass.details"></textarea>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="save()">
          Guardar a informação
        </button>
      </div>
    </div>
  </form>

  <app-departments></app-departments>

</div>
