<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" action="#">
  <div class="text-center mb-11">
    <h1 class="text-dark fw-bolder mb-3">Criar Conta</h1>

    <div class="text-gray-500 fw-semibold fs-6">Use a google email</div>
  </div>

  <div class="fv-row mb-8">
    <!--begin::Email-->
    <input type="text" placeholder="Email" name="email" autocomplete="off"
           [(ngModel)]="email"
           class="form-control bg-transparent"/>
    <!--end::Email-->
  </div>
  <!--begin::Input group-->
  <div class="fv-row mb-8" data-kt-password-meter="true">
    <!--begin::Wrapper-->
    <div class="mb-1">
      <!--begin::Input wrapper-->
      <div class="position-relative mb-3">
        <input class="form-control bg-transparent" type="password" placeholder="Senha" name="password"
               autocomplete="off"
               [(ngModel)]="password"/>
        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
              data-kt-password-meter-control="visibility">
          <i class="bi bi-eye-slash fs-2"></i>
          <i class="bi bi-eye fs-2 d-none"></i>
        </span>
      </div>
      <!--end::Input wrapper-->
      <!--begin::Meter-->
      <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
      </div>
      <!--end::Meter-->
    </div>
    <!--end::Wrapper-->
    <!--begin::Hint-->
    <div class="text-muted">Use 8 ou mais caracteres com uma mistura de letras, números e símbolos</div>
    <!--end::Hint-->
  </div>
  <!--end::Input group=-->
  <!--end::Input group=-->
  <div class="fv-row mb-8">
    <!--begin::Repeat Password-->
    <input placeholder="Repita a senha" name="confirm-password" type="password" autocomplete="off"
           class="form-control bg-transparent"
           [(ngModel)]="passwordConfirm"/>
    <!--end::Repeat Password-->
  </div>
  <!--end::Input group=-->
  <!--begin::Accept-->
  <div class="fv-row mb-8">
    <label class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="toc" value="1"/>
      <span class="form-check-label fw-semibold text-gray-700 fs-base ms-1">Eu aceito o
        <a href="#" class="ms-1 link-primary">Termos</a></span>
    </label>
  </div>
  <!--end::Accept-->
  <!--begin::Submit button-->
  <div class="d-grid mb-10">
    <button type="button" id="kt_sign_up_submit" class="btn btn-primary" (click)="signUp()">
      <!--begin::Indicator label-->
      <span class="indicator-label">Inscrever-se</span>
      <!--end::Indicator label-->
      <!--begin::Indicator progress-->
      <span class="indicator-progress">Por favor, espere...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      <!--end::Indicator progress-->
    </button>
  </div>
  <!--end::Submit button-->
  <!--begin::Sign up-->
  <div class="text-gray-500 text-center fw-semibold fs-6">Já tem uma conta?
    <a routerLink="/auth/sign-in" class="link-primary fw-semibold">Entrar</a></div>
  <!--end::Sign up-->
</form>
<!--end::Form-->
