<div class="overflow-auto w-100">
  <table id="kt_datatable_both_scrolls" class="table table-striped table-row-bordered gy-5 gs-7">
    <thead>
      <tr class="fw-semibold fs-6 text-gray-800">
        <th class="min-w-200px">Ean</th>
        <th class="min-w-100px">Tipo</th>
        <th class="min-w-100px">Origem</th>
        <th class="min-w-100px">QT / Conversão</th>
        <th class="min-w-100px">Medida</th>
        <th class="min-w-100px">Data</th>
        <th class="">Acção</th>


      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let ean of listArticleEan ">
        <td><span style="letter-spacing: 8px">{{ ean.ean}}</span></td>
        <td>{{ ean.type_data?.name}}</td>
        <td><span class="badge badge-light-dark">{{ ean.country_data?.name}}</span> </td>
        <td>{{ean.quantity +' / '+ ean.conversion}}</td>
        <td>{{ ean.unity_data?.acronym + ' - '+ ean.unity_data?.name}}</td>
        <td>{{ ean.created_at}}</td>
        <td class="gap-2">
          <button type="button" class="btn btn-icon btn-sm btn-light-primary btn-active-primary w-25px h-25px mx-1">
            <span class="svg-icon"> <i class="fa fa-edit"></i></span>
          </button>
          <button type="button" class="btn btn-icon btn-sm btn-light-danger btn-active-danger w-25px h-25px mx-1"
            (click)="deleteSelectedEan(ean.id)">
            <span class="svg-icon"> <i class="bi-trash"></i></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
