<div class="card-title d-flex flex-end justify-content-end">
  <!--begin::Search-->
  <div class="d-flex align-items-center position-relative my-1">
    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
    <span class="svg-icon svg-icon-1 position-absolute ms-6">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
          transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
        <path
          d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
          fill="currentColor" />
      </svg>
    </span>
    <!--end::Svg Icon-->
    <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-350px ps-15"
      placeholder="Pesquisar" />
  </div>

  <!--end::Search-->
</div>

<div class="overflow-auto w-100" id="htmlData">

  <table class="table align-middle table-row-dashed fs-6 gy-4 " id="kt_customers_table">
    <!--begin::Table head-->
    <thead>
      <!--begin::Table row-->
      <tr class="fw-semibold fs-6 text-gray-800">
        <th style="max-width: 140px!important; min-width: 140px!important;">Data do Movimento</th>
        <th class="min-w-200px">Referencia</th>
        <th class="">Valor total</th>

        <th class="min-w-200px text-muted ">Possiveis detalhes do documento</th>
        <th class="">&nbsp;</th>
      </tr>
      <!--end::Table row-->
    </thead>
    <!--end::Table head-->


    <!--begin::Table body-->
    <tbody class="fw-light text-gray-600" >


      <tr class="" *ngFor="let mov of listMove">
        <!--begin::Order ID-->
        <td class="min-w-100px px-5" style="max-width: 140px!important; min-width: 140px!important;">
          <span class="text-hover-primary">{{ mov.created_at }}</span>
        </td>

        <td style="max-width: 80px!important; min-width: 80px!important; width:80px ; font-weight: lighter;">
          Qt
        </td>

        <td>

        </td>

        <td>
        </td>

        <td class="">
          <span class="text-dark fw-bold">&nbsp;</span>
        </td>
        <!--end::Profit-->
        <td></td>
      </tr>



    </tbody>
    <!--end::Table body-->
  </table>

</div>
