<div class="d-flex flex-column flex-column-fluid">
  <!--begin::Toolbar-->
  <app-title-bar [context]="{header:'Artigos', primeiro:'Cadastros', segundo:'Artigos'}"></app-title-bar>
  <!--end::Toolbar-->

  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
      <div class="card mb-xxl-8">
        <div class="card-body pb-0">
          <!--begin::Navs-->
          <div class="border-bottom m-0 p-0">
            <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x  order-transparent fs-5 fw-bolder pb-0  mb-0 ">
              <!--begin::Nav item-->
              <li class="nav-item p-0">
                <a class="nav-link text-active-primary ms-0 me-10  font-weight-light " routerLinkActive="active"
                  routerLink="/cadastros/artigos/geral">Cadastro
                </a>
              </li>

              <li class="nav-item p-0">
                <a class="nav-link text-active-primary ms-0 me-10  font-weight-light "
                  routerLink="/cadastros/artigos/todos" routerLinkActive="active">Artigos Cadastrados
                </a>
              </li>

            </ul>

            <div class="d-flex align-items-center position-relative my-1 flex-end">
              <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
              <span class="svg-icon svg-icon-1 position-absolute ms-6 mx-4">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                    transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                  <path
                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                    fill="currentColor" />
                </svg>
              </span>
              <!--end::Svg Icon-->
              <input type="text" data-kt-customer-table-filter="search"
                class="form-control form-control-solid w-350px ps-15" placeholder="Encontrar o produto" />
            </div>


          </div>
          <div class="pt-10">
            <ng-content></ng-content>
            <router-outlet main></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <!--end::Content container-->

  </div>
  <!--end::Content-->
</div>
