<div class="card-title row w-100 justify-content-between">

  <div class="col-auto col-sm-3 col-lg-6">
    <button class="btn btn-sm  btn-secondary btn-active-primary mb-10 " (click)="pdfGenerator()">
      <i class="bi bi-filetype-pdf"></i> Gerar Pdf
    </button>
  </div>
  <!--<div class="d-flex flex-end justify-content-end col-12 col-lg-6">
    &lt;!&ndash;begin::Search&ndash;&gt;
    <div class="d-flex align-items-center position-relative my-1">
      &lt;!&ndash;begin::Svg Icon | path: icons/duotune/general/gen021.svg&ndash;&gt;
      <span class="svg-icon svg-icon-1 position-absolute ms-6">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                transform="rotate(45 17.0365 15.1223)" fill="currentColor"/>
          <path
            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
            fill="currentColor"/>
        </svg>
      </span>
      &lt;!&ndash;end::Svg Icon&ndash;&gt;
      <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-350px ps-15"
             placeholder="Pesquisar"/>
    </div>
  </div>-->
  <!--end::Search-->
</div>

<div class="overflow-auto w-100 table-responsive" id="htmlData">

  <table class="table align-middle table-row-dashed fs-6 gy-2 gs-7" id="kt_customers_table">
    <!--begin::Table head-->
    <thead class="fw-bold text-uppercase bg-light-primary">
    <!--begin::Table row-->
    <tr class="text-gray-800">
      <th style="max-width: 140px!important; min-width: 140px!important; width: 20% ">Data</th>
      <th class="min-w-200px" style="width: 20%">Referencia</th>

      <th class="text-muted d-none d-lg-grid" style="width: 70%; ">Possiveis detalhes do documento</th>

      <th class="min-w-100px" style="width: 10%">&nbsp;</th>
    </tr>
    <!--end::Table row-->
    </thead>
    <!--end::Table head-->


    <!--begin::Table body-->
    <tbody class="fw-light text-gray-600">


    <tr class="border-bottom  border-gray-150 fs-5" *ngFor="let mov of listMove" style="vertical-align: top; ">
      <!--begin::Order ID-->
      <td class="min-w-200px " style="max-width: 200px!important; min-width: 200px!important;">
        <span class="text-hover-primary">{{ mov.created_at }}</span>
      </td>

      <td style="max-width: 80px!important; min-width: 90px!important; width:90px ; font-weight: lighter;">
        <a href="">{{ mov.docRef }}</a>
      </td>

      <td style="width: 70%" class=" d-none d-lg-grid">
        <div
          style=" width: 90%; display: inline-block; white-space: nowrap; overflow: hidden;
           text-overflow: ellipsis; direction: ltr; max-width:1010px!important;">
          {{ mov.details}}
        </div>
      </td>

      <!--end::Profit-->
      <td style="vertical-align: bottom; width: 10%">
        <button type="button" (click)="deleteMove(mov)" *ngIf="mov.dataRef === momentFormat"
                class="btn btn-icon btn-sm btn-light-danger btn-active-danger w-25px h-25px mx-1 float-end d-none">
          <span class="svg-icon"> <i class="fa fa-times"></i></span>
        </button>

        <button type="button" (click)="printMov(mov)" id="editable"
                class="btn btn-icon btn-sm btn-light-primary btn-active-primary w-25px h-25px mx-1 float-end">
          <span class="svg-icon"> <i class="fa fa-print"></i></span>
        </button>
      </td>
    </tr>


    </tbody>
    <!--end::Table body-->
  </table>

</div>
