<div
  id="new_depatments_basic"
  class="bg-white"  data-kt-drawer="true"  data-kt-drawer-activate="true"  data-kt-drawer-toggle="#new_depatments_basic_button"
  data-kt-drawer-close="#new_depatments_basic_close"  data-kt-drawer-width="500px">

  <div class="p-5 w-100">
    <div class="text-right mb-11">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder mt-5 text-uppercase">Gerir Departamentos</h1>
      <!--end::Title-->
      <!--begin::Subtitle-->
      <div class="text-gray-500 fw-semibold fs-6">Crie, actualize ou apage o Departamentos</div>
      <!--end::Subtitle=-->
    </div>
    <div class="separator  my-4 text-center mb-15">
    </div>
    <form id="kt_modal_new_target_form mt-5" class="form fv-plugins-bootstrap5 fv-plugins-framework">
      <div class="row">
        <div class="row">

          <div class="col-sm-10">
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                <span class="required">Designação</span>
              </label>
              <!--end::Label-->
              <input type="text" name="description" [(ngModel)]="department.IObjectClass.name"
                     class="form-control form-control-sm" placeholder="introduza qui o nome">
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 ">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container w-100">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Notas</span>
            </label>
            <!--end::Label-->
            <textarea type="text" class="form-control form-control-sm h-100px" rows="10" [(ngModel)]="department.IObjectClass.details"
                      placeholder="Introduza qui alguma noto do depatments" name="datasheet"></textarea>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>

        </div>

      </div>
      <div class="col-12 mt-2 mb-4">
        <div class="input-group text-right justify-content-end">
          <button type="button" class="btn btn-sm btn-primary mr-2" (click)="save()">
            Guardar a informação
          </button>
        </div>
      </div>
    </form>
    <div class="separator my-4 text-center mb-15"></div>
    <div class="overflow-auto w-100">
      <table id="kt_datatable_both_scrolls" class="table table-striped table-row-bordered gy-5 gs-7">
        <thead>
        <tr class="fw-semibold fs-6 text-gray-800">
          <th class="min-w-200px">Designação</th>
          <th class="min-w-100px">Estado</th>
          <th class="">Acção</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let depatment of listDepartment | async">
          <td>{{ depatment?.name}}</td>
          <td>
            <span class="badge {{ (depatment?.deleted_at === 'NULL' ? 'badge-light-primary' : 'badge-light-danger')}}">
              {{ (depatment?.deleted_at === 'NULL' ? 'active' : 'delected')}}
            </span>
          </td>
          <td class="gap-2">
            <button type="button" (click)="editing(depatment)"
              class="btn btn-icon btn-sm btn-light-primary btn-active-primary w-25px h-25px mx-1">
              <span class="svg-icon"> <i class="fa fa-edit"></i></span>
            </button>
            <button type="button" (click)="delete(depatment)"
            class="btn btn-icon btn-sm btn-light-danger btn-active-danger w-25px h-25px mx-1">
              <span class="svg-icon"> <i class="bi-trash"></i></span>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
