<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="row">
      <div class="row">
        <div class="col-sm-9">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Nome</span>
            </label>
            <!--end::Label-->
            <input type="text" [(ngModel)]="serviceStorage.IObjectClass.name" name="description"
                   class="form-control form-control-sm" placeholder="insira a descrição longa">
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-lg-8">
          <div class="row">


            <div class="col-12 col-sm-12">
              <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                  <span class="required">Endereço</span>
                </label>
                <!--end::Label-->
                <input type="text" class="form-control form-control-sm " placeholder="Introduza as prateleiras"
                       id="address">

                <div class="fv-plugins-message-container invalid-feedback"></div>
              </div>
            </div>
          </div>
          <div class="row">


            <div class="col-12 col-sm-3">
              <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                  <span class="required">Armário</span>
                </label>
                <!--end::Label-->
                <input type="text" class="form-control form-control-sm " placeholder="Introduza o armario"
                       name="target_title" [(ngModel)]="this.ambry">
                <div class="fv-plugins-message-container invalid-feedback"></div>
              </div>
            </div>

            <div class="col-12 col-sm-7">
              <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                  <span class="required">Prateleiras</span>
                </label>
                <!--end::Label-->
                <input type="text" class="form-control form-control-sm" placeholder="Introduza as prateleiras"
                       id="shelf">

                <div class="fv-plugins-message-container invalid-feedback"></div>
              </div>
            </div>


            <div class="col-12 col-sm-auto">
              <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-6 mb-2">
                  <span class="">&nbsp;</span>
                </label>
                <!--end::Label-->
                <button class="btn btn-sm btn-primary" (click)="add()">Adicionar</button>

              </div>
            </div>

          </div>

          <div class="col-sm-12">
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-6 mb-2">
                <span class="">Obs</span>
              </label>
              <!--end::Label-->
              <textarea type="text" class="form-control form-control-sm" rows="14"
                        placeholder="Enter Target Title" [(ngModel)]="serviceStorage.IObjectClass.details"
                        name="details"></textarea>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

          </div>
        </div>

        <div class="col-12 col-sm-12 col-lg-4  h-400px
        border border-top-0 border-right-0 border-bottom-0">

          <div class="overflow-auto w-100">
            <table id="kt_datatable_both_scrolls" class="table table-striped table-row-bordered gy-5 gs-7">
              <thead>
              <tr class="fw-semibold fs-6 text-gray-800">
                <th class="min-w-200px">Armario</th>
                <th class="min-w-100px">Nº Pratelairas</th>
                <th class=""></th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of this.listArmariaShelf">
                  <td>{{ a.ambry}}</td>
                  <td>{{ a.shelf.length}}</td>
                  <td>

                    <button type="button" (click)="deleteList(a)"
                            class="btn btn-icon btn-sm btn-light-danger btn-active-danger w-25px h-25px mx-1">
                      <span class="svg-icon"> <i class="bi-trash"></i></span>
                    </button>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>


        </div>

      </div>
      <div class="separator separator-dashed my-4"></div>
    </div>
    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="save()">
          {{ util.SAVE_TEXT }}
        </button>
      </div>
    </div>
  </form>

</div>
