<div class="card-body p-0">
  <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="row">
      <div class="row">
        <div class="col-sm-9">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Designação</span>
            </label>
            <!--end::Label-->
            <input type="text" [(ngModel)]="serviceStorage.IObjectClass.name" name="description"
              class="form-control form-control-sm" placeholder="insira a descrição longa">
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Região / País</span>
            </label>
            <!--end::Label-->
            <select class="form-select form-select-sm" id="selectCountry" data-control="select2"
              data-placeholder="Select an option">
              <option></option>
              <option [value]="country|json" *ngFor="let country of listCountry | async">
                {{ '(' + country.iso + ')' + ' - ' + country.name }}
              </option>
            </select>

            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
        <div *ngIf="listCountry| async as countries" class="col-12 col-sm-auto {{ countries.length< 1?'':'d-none'}}">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">&nbsp;</span>
            </label>
            <!--end::Label-->
            <button type="button" class="btn btn-sm btn-warning mr-2 " (click)="testing()">
              Gerar novos paises
            </button>

            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>

        </div>
        <div class="col-12 col-sm-8">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="">Endereço</span>
            </label>
            <!--end::Label-->
            <input class="form-control form-control-sm" placeholder="introduza as informações principais do endereço"
              value="" id="tagifyAddress" />
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>

      </div>
      <div class="row">


        <div class="col-sm-12">
          <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Ficha técnica</span>
            </label>
            <!--end::Label-->
            <textarea type="text" class="form-control form-control-sm h-100px" rows="10"
              placeholder="Enter Target Title" [(ngModel)]="serviceStorage.IObjectClass.details"
              name="details"></textarea>
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 mt-2 mb-4">
      <div class="input-group text-right justify-content-end">
        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="save()">
          Guardar a informação
        </button>


      </div>
    </div>
  </form>

</div>
