<div class="overflow-auto w-100">
  <table id="kt_datatable_both_scrolls" class="table table-striped table-row-bordered gy-5 gs-7">
    <thead>
    <tr class="fw-semibold fs-6 text-gray-800">
      <th class="min-w-200px">Produto / Referencia</th>
      <th class="min-w-100px">Tipo Referencia</th>
      <th class="min-w-100px">QT</th>
      <th class="min-w-100px">Custo</th>
      <th class="min-w-100px">Fornecedor</th>
      <th class="min-w-100px">Data Compra</th>
      <th class="">Acção</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produt of listItems">
      <td>{{ produt.ean + ', ' + produt.productData?.name}}</td>
      <td>{{ produt.typeData?.name}}</td>
      <td><span class="badge badge-light-dark">{{ produt.qt_item  }}</span></td>
      <td>{{kFormatter(produt.valor) + ' ' + produt.moeda?.iso}}</td>
      <td>{{  produt.fornecedor?.name}}</td>
      <td>{{ produt.dataCompra}}</td>
      <td class="gap-2">
        <button type="button" (click)="emitFunctionalityUp(produt)"
                class="btn btn-icon btn-sm btn-light-primary btn-active-primary w-25px h-25px mx-1">
          <span class="svg-icon"> <i class="fa fa-edit"></i></span>
        </button>
        <button type="button" class="btn btn-icon btn-sm btn-light-danger btn-active-danger w-25px h-25px mx-1"
                (click)="deleteInfo(produt.id)">
          <span class="svg-icon"> <i class="bi-trash"></i></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
